Package: com.lesgarcons.moduleviews
Name: ModuleViews
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Vlad Munteanu
Author: Vlad Munteanu
Section: Tweaks
Depiction: https://lesgarcons.ru/depictions/?p=com.lesgarcons.moduleviews
Version: 1.0
Installed-Size: 1256
