Package: com.lesgarcons.preferencedemo
Name: PreferenceDemo
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Vlad Munteanu
Author: Vlad Munteanu
Section: Tweaks
Version: 0.0.1-5+debug
Installed-Size: 408
