Package: com.lesgarcons.redrectangle
Name: redrectangle
Depends: mobilesubstrate
Version: 1.0
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Vlad Munteanu
Author: Vlad Munteanu
Section: Tweaks
Depiction:https://lesgarcons.ru/depictions/?p=com.lesgarcons.redrectangle
