Package: com.lesgarcons.redrectangle
Name: redrectangle
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Vlad Munteanu
Author: Vlad Munteanu
Section: Tweaks
Version: 0.0.1-2+debug
Installed-Size: 200
