Package: com.lesgarcons.iosretargetapp
Name: iOSRETargetApp
Architecture: iphoneos-arm
Description: An awesome application!
Maintainer: Vlad Munteanu <vcm@vt.edu>
Author: Vlad Munteanu <vcm@vt.edu>
Section: Utilities
Version: 0.0.1_debug
Installed-Size: 208
