Package: com.lesgarcons.americanbudget
Name: AmericanBudget
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Vlad Munteanu
Author: Vlad Munteanu
Section: Tweaks
Version: 0.0.1-4+debug
Installed-Size: 200
